********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-315-0\22-315-0.MAX  *
* Sun Feb 05 21:50:25 2023                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       182      200      100                                                                                 
T2       394      20       200      100                                                                                 
T3       433      9        200      100                                                                                 
T4       1378     4        200      100                                                                                 
